<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        #editForm{
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="customer-menu">
    <a class="btn btn-primary" role="button" href="/admin">Back to customer list</a>
</div>
<form id="editForm" action="/customer/edit" method="post" th:object="${customer}">
    <input type="hidden" th:value="*{id}" th:field="*{id}">
    <div class="form-group">
        <label>Customer's code</label>
        <input type="text" class="form-control" th:field="*{customerCode}" placeholder="Enter customer's code">
        <p class="text-warning" th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"></p>
    </div>
    <div class="form-group">
        <label>Customer Type</label>
        <input type="text" class="form-control" th:field="*{customerType}" placeholder="Enter customer's type">
    </div>
    <div class="form-group">
        <label>Customer name</label>
        <input type="text" class="form-control" th:field="*{name}" placeholder="Enter customer's code">
    </div>
    <div class="form-group">
        <label>Customer gender</label>
        <input type="text" class="form-control" th:field="*{gender}" placeholder="Enter customer's gender">
    </div>
    <div class="form-group">
        <label>Customer birthday</label>
        <input type="date" class="form-control" th:field="*{birthday}" placeholder="Enter customer birthday">
        <p class="text-warning" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
    </div>
    <div class="form-group">
        <label>Customer phone</label>
        <input type="tel" class="form-control" th:field="*{phone}" placeholder="Enter customer phone">
        <p class="text-warning" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
    </div>
    <div class="form-group">
        <label>Customer email</label>
        <input type="email" class="form-control" th:field="*{email}" placeholder="Enter customer email">
        <p class="text-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>
    <div class="form-group">
        <label>Customer address</label>
        <input type="text" class="form-control" th:field="*{address}" placeholder="Enter customer address">
    </div>
    <button type="submit" class="btn btn-primary">Edit customer</button>
</form>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>