<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Sticky Navbar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="scrip.js"></script>
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                LOGO
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="/admin/service">Service</a></li>
                    <li><a href="/admin">Customer</a></li>
                    <li><a href="/admin/contract">Contract</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
     <p>
         Kỳ nghỉ sang trọng tại Furama Resort Danang sẽ mở đầu hành trình của du khách tới các di sản được UNESCO công nhận như Kinh thành Huế, cách resort 2 giờ lái xe. Các tiện nghi đẳng cấp thế giới như hồ bơi nước ngọt, spa và 4 lựa chọn ăn uống đang chờ đón du khách tại resort này.
         Furama Resort Danang tọa lạc ở phường Bắc Mỹ An. Từ đây đến thương cảng “Con đường Tơ lụa” cổ kính của Hội An mất 30 phút lái xe và Thánh Địa Mỹ Sơn cách đó chưa đến 2 giờ.
         Tất cả các phòng gắn máy điều hòa rộng rãi tại đây đều được thiết kế trang nhã và có ban công riêng nhìn ra quang cảnh nhiệt đới. Trong phòng có sàn gỗ và thảm thanh lịch cùng tủ quần áo không cửa ngăn, không gian tiếp khách rộng rãi cùng phòng tắm lớn lát đá cẩm thạch.
         Furama cung cấp các liệu pháp làm đẹp và spa sang trọng bao gồm nhiều phong cách mát-xa và chăm sóc da mặt. Khách có thể thư giãn với phòng xông hơi ướt và xông hơi khô hoặc tận hưởng dịch vụ mát-xa bên hồ bơi.
         Water Sport House ngay trong khuôn viên cung cấp các thiết bị lướt ván, chèo thuyền kayak trên biển và trượt nước. Resort cũng cung cấp các lớp học yoga và Thái Cực Quyền trên bãi biển. Những vị khách trẻ tuổi hơn có thể tận hưởng phòng chiếu phim và phòng trò chơi được trang bị máy Play Station 3.
         Café Indochine phục vụ một loạt các món ăn quốc tế và châu Á trong một khung cảnh thuộc địa Pháp. Ngoài ra còn có Don Cipriani, phục vụ các món ăn truyền thống của Ý. Hai Van Lounge là một trong 3 quán bar có buổi biểu diễn hàng đêm của các ban nhạc Philippines.
         Các cặp đôi đặc biệt thích địa điểm này — họ cho điểm 8,8 cho kỳ nghỉ dành cho 2 người.
         Chúng tôi sử dụng ngôn ngữ của bạn!
     </p>
    </div>
</div>
</body>
</html>