<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<form th:method="post" action="/create" th:object="${customers}">
    <table>
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input th:field="*{age}"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input th:field="*{birthday}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input th:field="*{address}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>

</form>

</body>
</html>